 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 .App {
   text-align: center;
   font-family: 'Vina Sans', sans-serif;

 }

 .App-logo {
   height: 40vmin;
   pointer-events: none;
 }

 @media (prefers-reduced-motion: no-preference) {
   .App-logo {
     animation: App-logo-spin infinite 20s linear;
   }
 }

 .App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
 }

 .App-link {
   color: #61dafb;
 }

 @keyframes App-logo-spin {
   from {
     transform: rotate(0deg);
   }

   to {
     transform: rotate(360deg);
   }
 }

 /* MyForm.css */

 .prompts {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 400px;
   padding: 20px;
   height: 600px;
   overflow-y: auto;
   background-color: #8e8f91;
   background-image: url("../public/background.jpg")
 }


 .image-grid {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 10px;
   /* Adjust the gap between images as needed */
 }

 .grid-image {
   width: 100%;
   height: auto;
 }

 /* Add this style to remove margin from the form container */
 /* .form-container {
  margin-right: 0;
} */

 .pr {
   color: rgb(96, 155, 223);
   font-family: 'Vina Sans', sans-serif;
 }

 .prompt-title {
   color: rgb(197, 206, 214);
   font-family: 'Vina Sans', sans-serif;
   marginleft: '25px';
   padding: '20px';
 }

 @font-face {
   font-family: myFirstFont;
   src: url(../public/KOMIKAX_.ttf);
 }

 h3 {
   font-family: 'Vina Sans', sans-serif;
 }

 h6{
  font-family: myFirstFont;
  color: rgb(76, 31, 85);
 }
 .navbar-title {
   font-family: 'Vina Sans', sans-serif;
 }

 .main-form-container {
   width: '100%';
   margin: 0;
   padding: 0;
 }

 @media screen and (max-width: 600px) {
   image-col Container {
     min-width: 200px;
   }
 }

 .form-inline {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80%;
 }

 Row {
   background-color: #61dafb;
 }

 .image-label {
   color: aliceblue;
 }

 .image-container {
  position: relative;
}

.speech-bubble {
  position: absolute;
  top: 5px; /* Adjust the top position */
  right: 5px; /* Adjust the right position */
  max-width: 150px; /* Adjust the maximum width of the speech bubble */
  background-color: #ffffff; /* Adjust the background color of the speech bubble */
  padding: 8px; /* Adjust the padding inside the speech bubble */
  border-radius: 10px; /* Adjust the border radius for rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.speech-text {
  margin: 0; /* Remove default margin from the paragraph */
  font-size: 12px; /* Adjust the font size of the text inside the speech bubble */
}

.prompt-col {
  background-color: black;
}